*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Spectral', serif;
}

header{
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1em 0;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em; 
    margin: auto;
    margin-bottom: 2em;
    h1{
        margin-left: 0.5em;
    }
}

.map{
    height: 13px;
    width: 13px;
}

.googlemaps{
    font-size: 0.7rem;
}

.country{
    font-size: 0.8rem;
    margin-left: 0.2em;
    margin-right: 1em;
    letter-spacing: 2px;
    font-weight: 400;
}

.googlemaps{
    color: #918E9B;
    border-bottom: 1px solid #918E9B;
    padding-bottom: 0em;
    line-height: 14px;
}

.cards-container{
    display: flex;
    max-width: 700px;
    margin: auto;
    padding: 0em 2em 1em 2em;
}

.card-container{
    display: flex;
    border-bottom: 1px solid #F5F5F5;
}

.info-container{
    display: flex;
    align-items: center;
}

.info{
    padding: 1em 0 1em 1.5em;
    max-width: 550px;
   
    .city{
        font-size: 1.8rem;
        margin-bottom: 0.5em;
    }

    .date{
        font-size: 0.8rem;
        margin-bottom: 0.1em;
    }

    .summary{
        font-size: 0.8rem;
        font-weight: 400;
        max-height: 125px;
        overflow: scroll;
    }

}

.place{
    height: 250px;
    width: 200px;
    background-size: cover;
    margin-bottom: 0.8em;
    border-radius: 0.3em;
}

a{
    text-decoration: none;
    display: block;
}